@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Work Sans", sans-serif; */
* {
  margin: 0;
  padding: 0;
}
.btn {
  padding: 21px 32px 21px 32px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;

  background: rgb(82, 195, 3);
  border: none;
}
.btn-container {
  text-align: center;
}
#hero {
  height: 919px;
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .hero-content {
  width: 1023px;
}
#hero .hero-content .subtitle {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 10px;
}
#hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
#hero .hero-content .description {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 32px;
}
/* card section  */

#card-box {
  width: 1320px;
  margin: 50px auto;
}

#card-box .sub-title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}
#card-box .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}
#card-box .info {
  margin-bottom: 48px;
}
.card-container {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.card {
  max-width: 424px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.card .card-img {
  width: 424px;
}
.card .card-img img {
  width: 100%;
}
.card .shop {
  border-radius: 8px;

  background: rgba(82, 195, 3, 0.15);
  padding: 14px 32px 14px 32px;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.card p {
  opacity: 0.7;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.card h1 {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0%;
  text-align: center;
}
/* about us */
#about-us {
  margin-top: 120px;
  display: flex;
  width: 1903px;
  margin: 100px auto;
}
#about-us .about-img {
  width: 960px;
  background-image: url('../assets/foods.png');
  height: 671px;
}
#about-us .container {
  width: 49%;
  display: flex;
  justify-content: center;
}
#about-us .about-info {
  width: 830px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
#about-us .about-info .title,footer .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 25px;
}
#about-us .about-info .sub-title, footer .sub-title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.6;
  margin-bottom: 78px;
}
#about-us .about-info .follow, footer .follow {
  width: 500px;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 60px;

  padding: 30px 10px 30px 10px;
  z-index: -1;

  box-sizing: border-box;
  border-bottom: 1px solid rgba(16, 16, 16, 0.2);
  border-top: 1px solid rgba(16, 16, 16, 0.2);
}
#about-us .about-info .logo-con, footer .logo-con {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
/* foot */
footer{
 
  background-size: cover;
  /* width: 1920px; */
  height: 671px;
  position: relative;
  /* opacity: 0.2; */
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
}
footer::before{
  content: '';
  background-image: url('../assets/social-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  opacity: .15;
}
footer .container {
  width: 830px;
  /* margin: 0 auto; */
  isolation: isolate;
  
  
  
}
footer .container .about-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}